.faq-page-main_tabs_position_tabs {
	border-left: 4px solid #EAE9ED;
	padding: 5px 10px;
}

.faq-page-main_tabs_position_tabs .faq-tab-item {

}

.faq-page-main_tabs_position_tabs .faq-tab-item .__title {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
}

.faq-page-main_tabs_position_tabs .faq-tab-item .__title a {
	display: block;
	color: #5D5D5C;
}

.faq-page-main_tabs_position_tabs .faq-tab-item .__title:before {
	content: '';
	position: absolute;
	top: 0;
	left: -14px;
	width: 4px;
	height: 100%;
	background: #CE2B58;
	opacity: 0;
}
.faq-tab-item.active ul li.active{
	color: #CE2B58!important;
}

.faq-page-main_tabs_position_tabs .faq-tab-item .__list {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 15px;
	display: none;
}

.faq-page-main_tabs_position_tabs .faq-tab-item .__list li {
	margin-bottom: 5px;
}
.faq-page-main_tabs_position_tabs .faq-tab-item .__list li a {
	color: #A9A9AB;
	font-size: 13px;
	display: block;
}
.faq-page-main_tabs_position_tabs .faq-tab-item .__list li a:hover {
	color: #CE2B58;
}
.faq-page-main_tabs_position_tabs .faq-tab-item .__list li a:focus {
	color: #CE2B58;
}
.faq-page-main_tabs_position_tabs .faq-tab-item .__list li.active{
	color: #CE2B58;
}
.faq-page-main_tabs_position_tabs .faq-tab-item.active .__title a {
	color: #CE2B58;
}

.faq-page-main_tabs_position_tabs .faq-tab-item.active .__list {
	display: block;
}

.faq-page-main_tabs_position_tabs .faq-tab-item.active .__title:before {
	opacity: 1;
}

.faq-page-main_tabs_positions_tabs .faq-page-main_tabs_position_content {
	display: none;
}

.faq-page-main_tabs_positions_tabs .faq-page-main_tabs_position_content.active {
	display: block;
}