ul.__list.news li {
    margin: 5px;
}

section.faq-page-main.single {
    padding: 25px;
}

section.faq-page-main.single p {
    line-height: 1.8;
    padding: 20px;
}
.home-articles_position_list .__list li .__container-content .__content {
    padding: 0;
}
.col-sm-12.cat {
    padding: 20px 0;
    border-bottom: solid 1px #8ca4f940;
}
a.btn {

    border-radius: 9px;
    border: 2px solid #ffffff;
    background-color: #c73f5d;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 35px;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}
.home-articles_position_list .__list li a .__container-img img {
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
}

.home-articles_position_list .__list li {
    margin-bottom: 15px;
}

.home-articles_position_list .__list {
    margin-bottom: 40px;
}

h5.__title {
    font-size: 16px!important;
    font-family: "PTSansRegular"!important;
}

.home-articles_position_list .__list li a .__container-img {
    margin-right: 20px;
    margin-left: 10px;
}